NEXT_PUBLIC_SUPABASE_URL=https://brxdxqjhalkwswyhkgri.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJyeGR4cWpoYWxrd3N3eWhrZ3JpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc2NjIwMDUsImV4cCI6MjA4MzIzODAwNX0.zUYroTamXcrzXWzQT5cdRY43rKAIcIApaZNWpVTc1R0